<ion-view view-title="Hindu Temple of Central Indiana">
<ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            <h1>Hindu Temple, Indianapolis</h1>
            <img src="img/HTCI.jpg">
            <p>Hindu Tempe of Central Indiana is a non-profit, tax exempt, religious organization.</p>
            <strong>Weekdays</strong>
            <p>9:00 AM - 11:00 AM & 6:00 PM - 8:00 PM</p>
            <strong>Saturday & Sunday</strong>
            <p>9:00 AM - 8:00 PM</p>

            <br/>
            <strong> <a href="tel:+1-317-891-9199">(317)891-9199</a></strong>
            <strong> <a href="mailto:webmaster@htci.org?Subject=Email_From_APP">Email</a></strong><br/>
            <strong> <a href="#" onclick="window.open('http://www.htci.org', '_system', 'location=yes'); return false;">website</a></strong>

        </div>
    </div>
  </ion-content>
</ion-view>
