<ion-view view-title="Hindu Temple of Central Indiana">
<ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            <h1>Hindu Temple, Indianapolis</h1>
            <img src="img/HTCI.jpg">
            <p>Hindu Tempe of Central Indiana is a non-profit, tax exempt, religious organization.</p>
            <strong>Weekdays</strong>
            <p>9:00 AM - 8:00 PM</p>
            <strong>Saturday & Sunday</strong>
            <p>9:00 AM - 8:00 PM</p>

            <strong> <a href="http://htci.org">htci.org</a></strong>
        </div>
    </div>
  </ion-content>
</ion-view>
