<ion-view view-title="Donate To Your beloved Temple">
<ion-content>

    <div class="card">
        <div class="item item-text-wrap">
            <h1>HTCI, Indiana</h1>
            <p>Temple and religious actvities growth depends upon the generous donations the devotees make.</p>
            <br/>
            <p>To make a charitable contribution to the Hindu Temple of Central Indiana, Indianapolis Indiana, Please chick on Secure button below.</p>
            <div type="button" class="button button-full button-stable">
                Pay using Paypal
            </div>
        </div>

    </div>

  </ion-content>
</ion-view>
