<ion-view view-title="Temple Timings">
<ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            <h1 class="text-center">Temple Timings</h1>
            <strong>Weekdays</strong>
            <p>9:00 AM - 11:00 AM & 6:00 PM - 8:00 PM</p>
            <strong>Saturday & Sunday</strong>
            <p>9:00 AM - 8:00 PM</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            <h1 class="text-center">Aarti Timings</h1>
            <strong>Weekdays</strong>
            <p>11:00 AM and 7:30 PM</p>
            <strong>Saturday & Sunday</strong>
            <p>12:00 PM & 7:30 PM</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            <h1 class="text-center">Guided Tours</h1>
           <p> Tours of the Temple along with a brief introduction to Hinduism may be arranged on the first Monday of the month at 6 PM. Tours for a group of people are preferred.
               If you / your group would like to arrange a tour, please contact Indu Vasudevan at <a href="mailto:tours@htci.org">tours@htci.org</a>. Other times may be available upon request.</p>
        </div>
    </div>
  </ion-content>
</ion-view>
